{% extends 'blog/base.html' %}

{% block content %}
<div class="card mb-3">
  <h2 class="card-header bg-dark text-white">{{ post.title }}</h2>
  <div class="card-body">
    <p>{{ post.created_at }}, {{ post.category }}</p>
    {{ post.text | linebreaksbr | urlize}}
  </div>
</div>

<!-- post.comment_set.all で post に紐付いたコメントを自動的にすべて取得する（定型的な書き方） -->
{% for comment in post.comment_set.all %}
  <p>
    {{ comment.name }}<br>
    {{ comment.text | linebreaksbr }}
  </p>
{% endfor %}

<!-- 記事の pk を渡しながらフォームを呼び出す -->
<a class="btn btn-dark" href="{% url 'blog:comment' post.pk %}">コメント投稿ページへ</a>
{% endblock %}